<!doctype html>
<html>
    <head>
        <title>Juspay API Demo</title>
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='pragma' content='no-cache'>
        <meta http-equiv='expires' content='-1'>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <script src="/static/jquery-2.1.4.min.js"></script>
        <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/1833252a-0dac-45a8-a6f9-58c9b6f8df11.css"/>
        <link type="text/css" rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>      
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
        <link rel="shortcut icon" href="favicon.ico">
    </head>
    <body>
        <div id="root" style="height: 100%"></div>
        <script src="/static/app.js"></script>
    </body>

</html>
